body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #70A1B2;
}

#etch-a-sketch {
    border: thin solid none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 59vw;
    background-color: #b7161c;
    border-radius: 7%;
    margin-top: auto;
}

#logo {
    height: 7vw;
    display: flex;
    align-items: center;
    font-size: 3vw;
    font-weight: 700;
    color: #F9B340;
}

#screen {
    display: inline-block;
}

#knobs {
    height: 7vw;
    width: 59vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.knob {
    height: 6vw;
    width: 6vw;
    background-color: #F9F9EF;
    border-radius: 50%;
    margin: 1.5vw;
}

#grid {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    width: 45vw;
    height: 33.75vw;
    border: thin solid none;
}

.cell {
    border: thin solid none;
    background-color: #D8D8D8;
}