body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#etch-a-sketch {
    border: thin solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 59vw;
}

#logo {
    height: 7vw;
    display: flex;
    align-items: center;
}

#screen {
    display: inline-block;
}

#knobs {
    height: 7vw;
}

#grid {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    width: 45vw;
    height: 33.75vw;
    border: thin solid black;
}

.cell {
    border: thin solid none;
    background-color: #D8D8D8;
}